[submodule "shiboken"]
	path = shiboken
	url = git://gitorious.org/pyside/shiboken.git
[submodule "pyside"]
	path = pyside
	url = git://gitorious.org/pyside/pyside.git
[submodule "pyside-tools"]
	path = pyside-tools
	url = git://gitorious.org/pyside/pyside-tools.git
[submodule "mobility"]
	path = mobility
	url = git://gitorious.org/pyside/pyside-mobility.git
